<!DOCTYPE html>
<html>
<head>
	<title>My Blog</title>
	<link rel="stylesheet" type="text/css" href="blog.css">
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
	<div class = "article">
		<div class="date">20th May 2020</div>
		<h2>This is my first article</h2>
		<p class="forfirst">The HTML element represents a paragraph. Paragraphs are usually represented in visual media as blocks of text separated from adjacent blocks by blank lines and/or first-line indentation, but HTML paragraphs can be any structural grouping of related content, such as images or form fields.Paragraphs are block-level elements, and notably will automatically close if another block-level element is parsed before the closing tag.</p>
		<img src="http://c1.staticflickr.com/9/8450/8026519634_f33f3724ea_b.jpg" class="center">
		<br>
		<audio controls autoplay>
			<source src="Alan Walker - Fade [NCS Release].mp3" type="audio/mpeg">
		</audio>
		<p>This is the first paragraph of text. This is the first paragraph of text. This is the first paragraph of text. This is the first paragraph of text.This is the second paragraph. This is the second paragraph. This is the second paragraph. This is the second paragraph.</p>
		<p>Separating paragraphs with blank lines is easiest
			for readers to scan, but they can also be separated
			by indenting their first lines. This is often used
		to take up less space, such as to save paper in print.</p>
		<hr>
	</div>
	<div class ="article">


		<div class ="date">19th May 2020</div>


		<h2>This is another article</h2>


		<p class="forfirst">Many common terms for seeds and fruit do not correspond to the botanical classifications. In culinary terminology, a fruit is usually any sweet-tasting plant part, especially a botanical fruit; a nut is any hard, oily, and shelled plant product; and a vegetable is any savory or less sweet plant product.</p>


		<p>


			<video width="320" height="240" controls>


				<source src="movie.mp4" type="video/mp4">


			</video>


		</p>






		<p>Types of fruits:


			<ul>


				<li>Orange</li>


				<li>Apple</li>


				<li>Mango</li>


			</ul>


			etc..


		</p>






		<p><table>


			<caption>Types of fleshy fruits


			</caption>


			<tbody><tr>


				<th>True berry


				</th>


				<th>Pepo


				</th>


				<th>Hesperidium


				</th>


				<th>Aggregate fruit


				</th>


				<th>Multiple fruit


				</th>


			</tr>


			<tr>


				<td>Banana, Blackcurrant, Blueberry, Chili pepper, Cranberry, Eggplant, Gooseberry, Grape, Guava, Kiwifruit, Lucuma, Pomegranate, Redcurrant, Tomato


				</td>


				<td>Cucumber, Gourd, Melon, Pumpkin


				</td>


				<td>Grapefruit, Lemon, Lime, Orange


				</td>


				<td>Blackberry, Boysenberry, Raspberry


				</td>


				<td>Fig, Hedge apple, Mulberry, Pineapple


				</td>


			</tr></tbody></table>


			<a href="https://en.wikipedia.org/wiki/Fruit#:~:text=In%20botany%2C%20a%20fruit%20is,by%20which%20angiosperms%20disseminate%20seeds."> Read More...</a>
		</p>
	</div>
</body>
</html>
